body{
    background: linear-gradient(to right, #007bff, #00c6ff);
}
.container{
    width:280px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin-left: 450px;
    margin-top: 100px;
    padding: 15px;
}
.box{
    width: 280px;
    height: 50px;
    background-color:lightslategray;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-align: center;

}
.box:hover{
    border:1px solid white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.number{
    display:flex;
}
button{
    width: 50px;
    height: 45px;
    border: none;
    background-color: #ffcc33;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.mazher{
     width: 50px;
    height: 45px;
    border: none;
    background-color: #ffcc33;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;   
    margin-left: 10px;
    margin: 10px;
}
.ali{
    margin-left: 80px;
    position: fixed;
}
.azher{
    margin-left: 30px;
    position: fixed;
     margin-left:10px
}
.shaikh{
    background-color: lightskyblue;
}
.home{
    background-color: rgba(135, 206, 250, 0.632);
}
.sheeraz{
    background-color: rgba(135, 206, 250, 0.632);
}
.czn{
    display: flex;
}
.abdullah{
    background-color: red;
}
.eazyclasstow{
    background-color: green;
    width: 95%;
    padding: 5px;
    color: white;
}
button:hover{
    animation: ali 2s linear 1;
}
@keyframes ali {
from{ transform: translatey(-5px);}
}